@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font: "DotGothic16", sans-serif;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../pexels-johannes-plenio-1118873\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
header .navbar .sun {
  fill: #dfa538;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  animation: rotate 10s infinite;
}
header .navbar .navbar__heading {
  font-family: var(--font);
  font-size: 3rem;
  margin-left: 0.6rem;
  letter-spacing: 1rem;
}
header .input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 7px 10px 13px 4px rgba(46, 43, 43, 0.82);
  -webkit-box-shadow: 7px 10px 13px 4px rgba(54, 52, 52, 0.82);
  -moz-box-shadow: 7px 10px 13px 4px rgba(53, 50, 50, 0.82);
}
header .input #search {
  width: 3rem;
  height: 3rem;
  fill: #586c6d;
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header form button {
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.842);
  color: #fff;
  font-size: 2rem;
  font-family: var(--font);
  letter-spacing: 0.6rem;
  margin-top: 1rem;
  padding: 0 2rem;
  cursor: url("../search.svg"), auto;
}
header .weather_input {
  width: 40vw;
  background-color: transparent;
  border: none;
  height: 3.6rem;
  font-family: var(--font);
  color: #000000;
  font-size: 2rem;
  outline: none;
  margin-left: 1rem;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
header .result {
  background-color: #0000008c;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
header .result .flex-to {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  padding: 0px 2rem;
  align-items: center;
}
header .result .location_name {
  font-size: 3rem;
  font-size: rgb(247, 232, 232);
}
header .result .flex-to .winds {
  display: flex;
}
header .result .clouds {
  font-size: 3rem;
  color: #58cbd1;
}
header .result .flex-to .winds .wind {
  margin-right: 0.5rem;
}
#none {
  display: none;
}
@media only screen and (max-width: 475px) {
  header .navbar .navbar__heading {
    margin-left: 0;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
  }
  header .navbar .sun {
    width: 2rem;
    margin-right: 0.5rem;
  }

  header .input {
    width: 100%;
    justify-content: space-between;
  }
  header .input #search {
    margin-left: 0.5rem;
  }
  header .input .weather_input {
    width: 90%;
  }
}
@media only screen and (max-width: 713px) {
  header .result {
    width: 100vw;
    height: auto;
  }
  header .result .flex-to {
    width: 100%;
  }
  header .result .location_name {
    font-size: 2rem;
  }
  header .result .clouds {
    font-size: 1.5rem;
  }
  header .result .flex-to .winds .wind,
  .wind_speed {
    font-size: 1.5rem;
  }
  header .result .flex-to .temprature {
    font-size: 1.5rem;
  }
  header .navbar .sun {
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(1px 2px rgba(226, 218, 218, 0.829));
  }
}
